html,
body {
  overflow-x: visible;
}

#wrap {
  min-width: 1170px;
}

#content .footer-meta.social {
  height: 35px;
}
#content .footer-meta .meta-tags-wrap {
  padding-right: 150px;
  float: left;
  line-height: 35px;
}
#content .footer-meta .social-meta {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}
#content .footer-meta .social-meta li {
  margin-right: 0;
  margin-left: 10px;
}
#content .lol-item-block-feature {
  min-height: 100px;
  position: relative;
  text-align: left;
}
#content .lol-item-block-feature img {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#content .lol-item-block-feature h3,
#content .lol-item-block-feature p {
  margin-left: 130px;
}
#content #countdown .count-wrap {
  display: inline-block;
}
#content #countdown .count-wrap .count {
  margin-left: 20px;
  margin-right: 20px;
}
#content .full-portfolio-wrap .portfolio-item {
  width: 50%;
  float: left;
}

.single-lolfmk-portfolio #content .projects-navigation-wrap {
  text-align: left;
}
.single-lolfmk-portfolio #content .projects-navigation-wrap .projects-navigation {
  padding-bottom: 0;
  margin-bottom: 0;
  float: left;
  border-bottom: none;
}
.single-lolfmk-portfolio #content .projects-navigation-wrap .projects-navigation a {
  margin: 0 4px 0 0;
}
.single-lolfmk-portfolio #content .projects-navigation-wrap .projects-links {
  float: right;
}
.single-lolfmk-portfolio #content .project-details {
  margin-top: 0;
}

#content {
  padding: 75px 0;
}

#sidebar {
  padding: 75px 0;
  border-top: none;
}

.sidebar-left .cont.col-9 {
  float: right;
}
.sidebar-left .side.col-3 {
  float: left;
}

.blog #content,
.single-post #content,
.single-lolfmk-job #content,
.search #content,
.archive #content,
.sidebar-right #content {
  padding-right: 30px;
  border-right: 1px solid #b9bcc0;
}

.blog #sidebar:before,
.single-post #sidebar:before,
.single-lolfmk-job #sidebar:before,
.search #sidebar:before,
.archive #sidebar:before,
.sidebar-right #sidebar:before {
  position: absolute;
  display: block;
  content: "";
  height: auto;
  top: 0;
  bottom: 0;
  width: 1px;
  left: -31px;
  background-color: #b9bcc0;
}

.archive.tax-portfolio-categories #content,
.archive.post-type-archive-lolfmk-portfolio #content {
  padding-right: 0;
  border-right: none;
}

.archive.tax-portfolio-categories #sidebar:before,
.archive.post-type-archive-lolfmk-portfolio #sidebar:before {
  content: none;
}

.sidebar-left #content {
  padding-left: 30px;
  border-left: 1px solid #b9bcc0;
}
.sidebar-left .side.col-3:after {
  position: absolute;
  display: block;
  content: "";
  height: auto;
  top: 0;
  bottom: 0;
  width: 1px;
  right: -16px;
  background-color: #b9bcc0;
}

.input-text,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  width: 50%;
}

#top-header {
  padding: 5px 0;
}

#top-header .company-info {
  float: left;
  margin-bottom: 0;
}
#top-header .company-info .info {
  margin: 0 15px 0 0;
}

#top-header .top-header-nav {
  float: right;
}

#top-header .top-header-nav .top-header-menu,
#top-header .top-header-nav .header-search {
  display: inline-block;
}

#top-header .top-header-menu li {
  margin-right: 0 !important;
  display: inline-block;
  text-transform: uppercase;
}
#top-header .top-header-menu li:after {
  padding: 0 5px;
  content: "/";
}
#top-header .top-header-menu li:last-child:after {
  padding: 0;
  content: "";
}

#top-header .header-search {
  display: inline-block;
  height: 20px;
  position: relative;
}
#top-header .header-search .icon-search {
  position: absolute;
  right: 0;
  width: 25px;
  height: 20px;
  z-index: 2;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #1a1d1f;
}
#top-header .header-search .fa-search {
  color: #fff;
}
#top-header .header-search form .fa-search {
  display: none;
}
#top-header .header-search .searchbox {
  display: inline-block;
  line-height: 10px;
  position: relative;
}
#top-header .header-search input[type="text"] {
  margin-left: 15px;
  padding: 2px 30px 2px 15px;
  width: 150px;
  font-size: 10px;
  line-height: 10px;
  border: 1px solid #1a1d1f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}

#top-header .social-links {
  margin: 0;
  margin-right: 20px;
}
#top-header .social-links li {
  margin-right: 10px;
}

#branding {
  text-align: left;
  height: 65px;
}

#logo {
  padding: 0;
  float: left;
  height: 65px;
}
#logo a,
#logo img {
  max-height: 100%;
}

#site-title {
  padding: 0;
  line-height: 65px;
}

#mobile-nav-menu {
  top: -9999px;
}

#nav-menu {
  margin-right: 4px;
  display: inline-block;
  float: right;
  font-size: 11px;
  line-height: 49px;
  text-transform: uppercase;
}

.sf-menu ul {
  padding: 10px 0;
  width: 250px;
  display: none;
  position: absolute;
  left: 0;
  z-index: 999;
  background: #fff;
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.sf-menu ul li {
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sf-menu li {
  margin-right: -4px;
  display: inline-block;
  position: relative;
}
.sf-menu a {
  margin: 8px 0;
  padding: 0 20px;
  position: relative;
  display: block;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sf-menu li.current_page_item > a,
.sf-menu li.current_page_parent > a,
.sf-menu li.current-menu-parent > a,
.sf-menu li.current-menu-ancestor > a,
.sf-menu li.sfHover > a,
.sf-menu a:hover {
  color: #1a1d1f;
  text-decoration: none;
  background-color: #fff;
}
.sf-menu .sub-menu li.current_page_item > a,
.sf-menu .sub-menu li.current_page_parent > a {
  color: #353d4d;
}
.sf-menu .sub-menu li.current_page_item > a:hover,
.sf-menu .sub-menu li.current_page_parent > a:hover {
  color: #1a1d1f;
}
.sf-menu ul a {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: #353d4d;
  text-transform: none;
}
.sf-menu ul li a {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px dotted #d7d7d7;
}
.sf-menu ul li a:hover {
  text-decoration: underline;
}
.sf-menu ul li {
  padding: 0 20px;
  width: 100%;
}
.sf-menu ul li:last-child > a {
  border-bottom: none;
}
.sf-menu ul ul {
  left: 252px;
  top: -10px;
  display: none;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}
.sf-menu li.megamenu {
  position: static;
}
.sf-menu .megamenu .megamenu_wrap {
  padding: 10px 0;
  position: absolute;
  left: 15px;
  width: 1140px;
  display: none;
  z-index: 999;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.sf-menu .megamenu ul {
  padding: 0;
  width: 100%;
  display: block;
  position: static;
  z-index: 99;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sf-menu .megamenu ul li {
  padding: 0;
}
.sf-menu .megamenu ul ul {
  position: static;
}
.sf-menu .megamenu li {
  margin-right: 0;
}
.sf-menu .megamenu:hover > .megamenu_wrap, .sf-menu .megamenu.sfHover > .megamenu_wrap {
  display: block;
}
.sf-menu .megamenu_wrap > ul {
  padding: 0 10px;
  overflow: hidden;
}
.sf-menu .megamenu_wrap > ul > li,
.sf-menu .megamenu_wrap > ul > li > a {
  padding: 10px 0;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 700;
  color: #1a1d1f !important;
  text-transform: uppercase;
  border-bottom: none;
}
.sf-menu .megamenu_wrap > ul > li > span {
  margin-bottom: 15px;
  padding: 10px 0;
  line-height: 20px;
  display: block;
  border-bottom: 3px solid #1a1d1f;
}
.sf-menu .megamenu_wrap > ul > li {
  padding: 0 15px;
  float: left;
}
.sf-menu .megamenu_wrap > ul > li > a {
  margin-bottom: 15px;
  border-bottom: 3px solid #1a1d1f;
}
.sf-menu .megamenu_wrap > ul > li > a:hover {
  color: #8a8f97 !important;
}
.sf-menu .megamenu_wrap.column-items1 > ul > li {
  width: 100%;
}
.sf-menu .megamenu_wrap.column-items2 > ul > li {
  width: 50%;
}
.sf-menu .megamenu_wrap.column-items3 > ul > li {
  width: 33.33333333333333%;
}
.sf-menu .megamenu_wrap.column-items4 > ul > li {
  width: 25%;
}
.sf-menu .megamenu_wrap.column-items5 > ul > li {
  width: 20%;
}
.sf-menu .megamenu_wrap.column-items6 > ul > li {
  width: 16.666666666666664%;
}

.lt-ie9 .sf-menu ul {
  border: 1px solid #ccc;
  border-top: none;
}
.lt-ie9 .sf-menu .megamenu .megamenu_wrap {
  border: 1px solid #ccc;
  border-top: none;
}
.lt-ie9 .sf-menu .megamenu ul {
  border: none;
}

.boxed .sf-menu .megamenu .megamenu_wrap {
  width: 1060px;
}

.lol-sticky-header-yes.lol-top-header-no #header-wrap,
.lol-sticky-header-yes.fixed-yes #header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.lol-sticky-header-yes.fixed-yes #header-wrap {
  top: -30px;
}

.lol-sticky-header-yes.fixed-yes body.admin-bar #header-wrap {
  top: 2px;
}

.lol-sticky-header-yes.lol-top-header-no body.admin-bar #header-wrap {
  top: 32px;
}

.lol-sticky-header-yes.lol-top-header-no .boxed #header-wrap,
.lol-sticky-header-yes.fixed-yes .boxed #header-wrap {
  width: 1170px;
}

.lol-sticky-header-yes.lol-top-header-no #wrap {
  padding-top: 65px;
}

.lol-sticky-header-yes.lol-top-header-yes.fixed-yes #wrap {
  padding-top: 95px;
}

.page .entry-thumbnail {
  margin-top: 75px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b9bcc0;
}
.page #content .entry-thumbnail {
  margin-top: 0;
}

#page-title-wrap {
  padding: 0;
}
#page-title-wrap .page-title h1,
#page-title-wrap .page-title h3 {
  line-height: 56px;
}

.crumbs {
  margin-top: -28px;
  position: absolute;
  right: 15px;
  top: 50%;
  line-height: 56px;
}

#content .sticky .post-wrap:after {
  right: -31px;
}
#content .format-status .entry-avatar {
  margin-bottom: 0;
  position: absolute;
}
#content .format-status .entry-avatar img {
  margin: 0;
}
#content .format-status .entry-status {
  margin-left: 80px;
}

#comments input[type="text"] {
  width: 100%;
}

.lol_widget_dribbble img,
.lol_widget_flickr img,
.lol_widget_dribbble_footer img,
.lol_widget_flickr_footer img {
  margin: 4px 4px 0 0;
  width: 62px;
  height: auto;
  float: left;
}

.lol_widget_flickr img,
.lol_widget_flickr_footer img {
  height: 62px;
}

.boxed .lol_widget_dribbble img,
.boxed .lol_widget_flickr img,
.boxed .lol_widget_dribbble_footer img,
.boxed .lol_widget_flickr_footer img {
  width: 57px;
}

.boxed .lol_widget_flickr img,
.boxed .lol_widget_flickr_footer img {
  height: 57px;
}

.lol_widget_dribbble .dribbble-item-1 img,
.lol_widget_dribbble .dribbble-item-2 img,
.lol_widget_dribbble .dribbble-item-3 img,
.lol_widget_dribbble .dribbble-item-4 img,
.lol_widget_flickr .flickr-item-1 img,
.lol_widget_flickr .flickr-item-2 img,
.lol_widget_flickr .flickr-item-3 img,
.lol_widget_flickr .flickr-item-4 img,
.lol_widget_dribbble_footer .dribbble-item-1 img,
.lol_widget_dribbble_footer .dribbble-item-2 img,
.lol_widget_dribbble_footer .dribbble-item-3 img,
.lol_widget_dribbble_footer .dribbble-item-4 img,
.lol_widget_flickr_footer .flickr-item-1 img,
.lol_widget_flickr_footer .flickr-item-2 img,
.lol_widget_flickr_footer .flickr-item-3 img,
.lol_widget_flickr_footer .flickr-item-4 img {
  margin-top: 0;
}

.lol_widget_dribbble .dribbble-item-4 img,
.lol_widget_dribbble .dribbble-item-8 img,
.lol_widget_dribbble .dribbble-item-12 img,
.lol_widget_flickr .flickr-item-4 img,
.lol_widget_flickr .flickr-item-8 img,
.lol_widget_flickr .flickr-item-12 img,
.lol_widget_dribbble_footer .dribbble-item-4 img,
.lol_widget_dribbble_footer .dribbble-item-8 img,
.lol_widget_dribbble_footer .dribbble-item-12 img,
.lol_widget_flickr_footer .flickr-item-4 img,
.lol_widget_flickr_footer .flickr-item-8 img,
.lol_widget_flickr_footer .flickr-item-12 img {
  margin-right: 0;
}

#content .portfolio-item {
  margin-bottom: 30px;
}
#content .portfolio-filter .portfolio-select {
  display: none;
}
#content .portfolio-filter .portfolio-categories {
  display: block;
}
#content .portfolio-categories {
  display: block;
}
#content .portfolio-tabs {
  margin: 0;
  list-style-type: none;
}
#content .portfolio-tabs li {
  display: inline-block;
}
#content .portfolio-tabs li a {
  margin: 0 10px 10px 0;
  padding: 5px 17px;
  font-size: 10px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #617c96;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #617c96;
  background-color: transparent;
}
#content .portfolio-tabs li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #617c96;
}
#content .portfolio-tabs li.active a {
  color: #fff;
  text-decoration: none;
  background-color: #617c96;
}

.boxed .three-columns #content .section-portfolio-items {
  margin-right: -1px;
}

#content .page-row {
  margin-bottom: 70px;
}
#content .page-row.margin-no, #content .page-row:last-child {
  margin-bottom: 0;
}

#content .lol-item-column,
#content .lol-item-line,
#content .lol-item-heading,
#content .lol-item-heading-small,
#content .lol-item-heading-parallax,
#content .lol-item-image,
#content .lol-item-service-column,
#content .lol-item-mini-service-column,
#content .lol-item-block-feature,
#content .post-item,
#content .lol-item-blog-list,
#content .lol-page-item .portfolio-item,
#content .lol-page-item .row:last-child .portfolio-item,
#content .lol-item-portfolio-list,
#content .lol-item-member,
#content .progress-circle,
#content .lol-toggle,
#content .lol-faq-wrap,
#content .lol-faq-entry:last-child,
#content .newsletter-block,
#content .lol-item-info,
#content .lol-item-image-text,
#content .lol-item-text-banner-wrap,
#content .lol-item-column .price-item:last-child,
#content .lol-item-embed-video,
#content .map-canvas-wrapper,
#content .full-portfolio-wrap,
#content .progress-number {
  margin-bottom: 0;
}
#content .lol-item-heading h2,
#content .lol-item-heading p,
#content .lol-item-heading-small h2,
#content .lol-item-heading-small p,
#content .lol-item-heading-parallax h2,
#content .lol-item-heading-parallax p {
  width: 80%;
  display: inline-block;
}
#content .lol-item-heading-parallax.dark h2:after {
  margin-top: 20px;
  content: "";
  display: block;
  height: 11px;
  width: 100%;
  background: transparent url(../images/line_dark.png) no-repeat center center;
}
#content .lol-item-heading-parallax.light h2:after {
  margin-top: 20px;
  content: "";
  display: block;
  height: 11px;
  width: 100%;
  background: transparent url(../images/line.png) no-repeat center center;
}
#content .lol-item-mini-service-column {
  text-align: left;
}
#content .lol-item-mini-service-column.no-margin {
  margin-bottom: -30px;
}
#content .lol-item-mini-service-column .mini-service-icon {
  margin-top: 5px;
  position: absolute;
  margin-bottom: 0;
}
#content .lol-item-mini-service-column h3,
#content .lol-item-mini-service-column p,
#content .lol-item-mini-service-column .more {
  margin-left: 60px;
}
#content .lol-item-block-banner {
  text-align: left;
}
#content .lol-item-block-banner img {
  margin: 0;
}
#content #countdown .count-wrap {
  display: inline;
}
#content #countdown .count-wrap .count {
  margin: 0 20px;
  display: inline-block;
}
#content #countdown.dark h3:after {
  margin-top: 20px;
  content: "";
  display: block;
  height: 11px;
  width: 100%;
  background: transparent url(../images/line_dark.png) no-repeat center center;
}
#content #countdown.light h3:after {
  margin-top: 20px;
  content: "";
  display: block;
  height: 11px;
  width: 100%;
  background: transparent url(../images/line.png) no-repeat center center;
}
#content .faqs-filter .faqs-select {
  display: none;
}
#content .faqs-filter .faqs-categories {
  display: block;
}
#content .faqs-categories {
  display: block;
}
#content .faqs-tabs {
  margin: 0;
  list-style-type: none;
}
#content .faqs-tabs li {
  display: inline-block;
}
#content .faqs-tabs li a {
  margin: 0 10px 10px 0;
  padding: 5px 17px;
  font-size: 10px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #617c96;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #617c96;
  background-color: transparent;
}
#content .faqs-tabs li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #617c96;
}
#content .faqs-tabs li.active a {
  color: #fff;
  text-decoration: none;
  background-color: #617c96;
}
#content .newsletter-block .newsletter-title {
  margin-bottom: 0;
  text-align: center;
}
#content .newsletter-block .newsletter-title h3 {
  line-height: 40px;
}
#content .newsletter-block .mc_form input[type="email"] {
  margin-bottom: 0;
}
#content .lol-item-image-text .image-mask h3 {
  padding: 20px 0;
}
#content .columns1 .price-item {
  width: 100%;
}
#content .columns2 .price-item {
  width: 50%;
  float: left;
}
#content .columns3 .price-item {
  width: 33.33333333333333%;
  float: left;
}
#content .columns4 .price-item {
  width: 25%;
  float: left;
}
#content .columns5 .price-item {
  width: 20%;
  float: left;
}
#content .price-item.popular-yes {
  margin: -30px 0 0 -1px;
  position: relative;
  z-index: 2;
  border: 1px solid #dadee3;
}
#content .price-item.popular-yes .price-name {
  padding: 30px 20px;
}
#content .price-item.popular-yes .price-btn {
  padding: 25px 20px;
}
#content .price-item {
  border: 1px solid #dadee3;
  border-left: none;
}
#content .lol-price-table .price-item:first-child {
  border-left: 1px solid #dadee3;
}
#content .lol-item-call-to-action h3 {
  margin: 0 20px;
  display: inline-block;
  line-height: 44px;
}
#content .lol-item-call-to-action .lol-button-block {
  margin: 0 20px;
  display: inline-block;
}
#content .lol-item-testimonial-full .flexslider.flex-testimonial {
  margin: 0 auto;
  width: 50%;
}
#content .full-portfolio-wrap {
  overflow: hidden;
}
#content .full-portfolio-wrap .portfolio-item {
  width: 25%;
  float: left;
}
#content .lol-item-brands-parallax > div {
  margin-bottom: 0;
  padding: 0 20px;
}
#content .lol-item-brands-parallax.cols-2 > div {
  width: 50% !important;
}
#content .lol-item-brands-parallax.cols-3 > div {
  width: 33.33333% !important;
}
#content .lol-item-brands-parallax.cols-4 > div {
  width: 25% !important;
}
#content .lol-item-brands-parallax.cols-5 > div {
  width: 20% !important;
}
#content .lol-item-brands-parallax.cols-6 > div {
  width: 16.66667% !important;
}

#footer-bottom {
  text-align: left;
}
#footer-bottom .footer-bottom-copy {
  margin-bottom: 0;
  line-height: 38px;
}
#footer-bottom .social-links {
  float: right;
}

.boxed .three-columns #content .section-portfolio-items {
  margin-right: 0;
}
