/*!
 * Bootstrap
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 600;
}
dfn {
	font-style: italic;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button,
input,
select[multiple],
textarea {
	background-image: none;
}
a {
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
img {
	width:auto\9;
	height:auto;
	max-width:100%;
	display: block;
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.boxed {
	margin: 0 auto;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container:before,
.container:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.container:after {
	clear: both;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row:before,
.row:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.row:after {
	clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.boxed {
		/*padding: 0 40px;*/
	}
	.boxed .container {
		padding-left: 55px;
		padding-right: 55px;
	}
	.boxed,
	.container {
		max-width: 750px;
	}
}
@media (min-width: 992px) {
	.boxed,
	.container {
		max-width: 970px;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11 {
		float: left;
	}
	.col-1 {
		width: 8.333333333333332%;
	}
	.col-2 {
		width: 16.666666666666664%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33333333333333%;
	}
	.col-5 {
		width: 41.66666666666667%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.333333333333336%;
	}
	.col-8 {
		width: 66.66666666666666%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33333333333334%;
	}
	.col-11 {
		width: 91.66666666666666%;
	}
	.col-12 {
		width: 100%;
	}
}
@media (min-width: 1200px) {
	.boxed,
	.container {
		max-width: 1170px;
	}
}
.no-responsive .boxed .container {
	padding-left: 55px;
	padding-right: 55px;
}
.no-responsive .boxed,
.no-responsive .container {
	max-width: none!important;
	width: 1170px!important;
}
.no-responsive .col-1,
.no-responsive .col-2,
.no-responsive .col-3,
.no-responsive .col-4,
.no-responsive .col-5,
.no-responsive .col-6,
.no-responsive .col-7,
.no-responsive .col-8,
.no-responsive .col-9,
.no-responsive .col-10,
.no-responsive .col-11 {
	float: left;
}
.no-responsive .col-1 {
	width: 8.333333333333332%;
}
.no-responsive .col-2 {
	width: 16.666666666666664%;
}
.no-responsive .col-3 {
	width: 25%;
}
.no-responsive .col-4 {
	width: 33.33333333333333%;
}
.no-responsive .col-5 {
	width: 41.66666666666667%;
}
.no-responsive .col-6 {
	width: 50%;
}
.no-responsive .col-7 {
	width: 58.333333333333336%;
}
.no-responsive .col-8 {
	width: 66.66666666666666%;
}
.no-responsive .col-9 {
	width: 75%;
}
.no-responsive .col-10 {
	width: 83.33333333333334%;
}
.no-responsive .col-11 {
	width: 91.66666666666666%;
}
.no-responsive .col-12 {
	width: 100%;
}