/*
* WooCommerce Styles
*/
/*------------------------------------------------------------

1 Global
2 Shop Page
3 Product Item
4 Product Category
5 Single Product
6 Cart
7 Checkout
8 My Account
9 Track Order
10 Sidebar
	10.1 Product Categories Widget
	10.2 Product Widget
	10.3 Product Tag Widget
	10.4 Layered Nav Widget
	10.5 Cart Widget
	10.6 Price Filter
11 Footer
	11.1 Product Categories Widget
	11.2 Product Widget
	11.3 Product Tag Widget
	11.4 Layered Nav Widget
	11.5 Cart Widget
12 Media Queries

-------------------------------------------------------------- */
/* 1 Global
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url("../fonts/star.eot");
  src: url("../fonts/star.eot?#iefix") format("embedded-opentype"), url("../fonts/star.woff") format("woff"), url("../fonts/star.ttf") format("truetype"), url("../fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  width: 75.6px;
  font-family: 'star';
}
.star-rating:before {
  content: "\53\53\53\53\53";
  color: #d7d7d7;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 21px;
}
.star-rating span:before {
  content: "\53\53\53\53\53";
  color: #f09e10;
  top: 0;
  position: absolute;
  left: 0;
}

.pp_description {
  font-size: 12px;
  font-weight: 700;
  color: #262f3a;
  text-transform: uppercase;
}

#content div.quantity {
  width: 108px;
  height: 43px;
  position: relative;
  display: inline-block;
}
#content div.quantity input[type=number] {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content div.quantity input[type=number]:focus {
  border: 1px solid #b9bcc0;
}
#content div.quantity input[type=number]::-webkit-inner-spin-button,
#content div.quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#content div.quantity input.plus,
#content div.quantity input.minus {
  position: absolute;
  top: 0;
  width: 30px;
  height: 43px;
  border: 1px solid #b9bcc0;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-appearance: none;
}
#content div.quantity input.plus:hover,
#content div.quantity input.minus:hover {
  color: #fff;
  border: 1px solid #617c96;
  background-color: #617c96;
}
#content div.quantity input.minus {
  left: 0;
}
#content div.quantity input.plus {
  right: 0;
}
#content #order-process {
  margin: 0 0 70px 0;
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
  text-transform: uppercase;
  color: #e1e1e1;
}
#content #order-process li {
  margin-right: 0 !important;
  display: inline-block;
}
#content #order-process li .sep {
  margin-left: 10px;
  display: none;
}
#content #order-process li.active {
  color: #262f3a;
}
#content #order-process li.disabled {
  display: none;
}
#content a.chosen-single {
  color: #262f3a !important;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#content .woo-header {
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 1px solid #b9bcc0;
  border-bottom: 1px solid #b9bcc0;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  color: #262f3a;
  text-transform: uppercase;
}
#content .woo-header h2,
#content .woo-header h3 {
  margin-bottom: 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}

tr.shipping .shipping-title {
  margin-bottom: 20px;
  display: block;
}
tr.shipping label {
  font-family: "Open Sans";
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  color: #617c96;
  text-transform: none;
}
tr.shipping td.last {
  max-width: 1px;
  width: 1px;
}
tr.shipping select {
  width: 100%;
}
tr.shipping ul {
  margin: 0;
  list-style-type: none;
}
tr.shipping ul li {
  margin-bottom: 10px;
}
tr.shipping p {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #617c96;
  text-transform: none;
}
tr.shipping input[type="radio"],
tr.shipping label {
  display: inline;
}
tr.shipping input[type="radio"] {
  margin-right: 10px;
}

form.login .button {
  margin-bottom: 30px;
}

#content .addresses address p {
  margin-bottom: 0;
}

#content dl.customer_details {
  margin-left: 0;
  margin-bottom: 50px;
}
#content dl.customer_details dt {
  margin-bottom: 5px;
  font-weight: 700;
  color: #617c96;
}

#content .order_details_wrap {
  margin-bottom: 50px;
  overflow-x: scroll;
  border: 3px solid #617c96;
}
#content .order_details_wrap table {
  margin-bottom: 0;
}
#content .order_details_wrap h2 {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #617c96;
}
#content .order_details_wrap th {
  color: #8a8f97;
}
#content .order_details_wrap tr {
  border-width: 2px;
}
#content .order_details_wrap th.product-total,
#content .order_details_wrap td {
  text-align: right;
}
#content .order_details_wrap tbody .product-name {
  font-weight: 700;
  color: #617c96;
  text-align: left;
}
#content .order_details_inner {
  padding: 20px;
  width: 340px;
}

#content .woocommerce-info {
  font-size: 16px;
  line-height: 24px;
}
#content .woocommerce-message,
#content .woocommerce-error {
  margin-bottom: 50px;
  padding: 20px 40px;
  color: #fff;
  text-align: center;
}
#content .woocommerce-message {
  background-color: #2ecc71;
}
#content .woocommerce-message a,
#content .woocommerce-message strong {
  font-weight: 400;
  font-style: italic;
  color: #fff;
}
#content .woocommerce-message .wc-forward {
  margin-right: 10px;
}
#content .woocommerce-error {
  margin-left: 0;
  list-style-type: none;
  background-color: #e74c3c;
}
#content .woocommerce-error li {
  margin-bottom: 5px;
}
#content .woocommerce-error a,
#content .woocommerce-error strong {
  font-weight: 400;
  font-style: italic;
  color: #fff;
}
#content form.checkout .woocommerce-error {
  margin-bottom: 0;
}

#top-header .header-cart {
  display: none;
}

#branding #mobile-nav-menu.cart-yes {
  margin-left: -35px;
}
#branding #icon-cart-menu {
  position: absolute;
  top: 0;
  right: -35px;
  width: 34px;
  height: 34px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
}
#branding #icon-cart-menu .fa-shopping-cart {
  line-height: 34px;
  color: #1a1d1f;
}

.demo_store {
  margin: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
  color: #fff;
  background-color: #393f43;
}

/* 2 Shop Page
-------------------------------------------------------------- */
.product-category-cover {
  margin-top: 50px;
}

#content .woocommerce-ordering {
  margin-bottom: 20px;
}
#content .woocommerce-result-count {
  margin-bottom: 40px;
  display: block;
  font-weight: 700;
  font-style: italic;
  color: #8a8f97;
}
#content .woocommerce-pagination {
  margin: 0;
}
#content .woocommerce-pagination a,
#content .woocommerce-pagination .current {
  margin-right: 5px;
  padding: 5px 13px;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #b9bcc0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a8f97;
}
#content .woocommerce-pagination a:hover,
#content .woocommerce-pagination .current:hover {
  color: #617c96;
  text-decoration: none;
  border: 1px solid #617c96;
}
#content .woocommerce-pagination .current {
  color: #617c96;
  border: 1px solid #617c96;
}

.archive.woocommerce .products {
  margin-bottom: 70px;
}

/* 3 Product Item
-------------------------------------------------------------- */
#content .product-item {
  margin-bottom: 50px;
  overflow: hidden;
}
#content .product-item .product-mask-wrap {
  position: relative;
  overflow: hidden;
}
#content .product-item .product-mask-wrap .add_to_cart_button {
  padding: 5px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  opacity: 0;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  z-index: 10;
  background-color: #e74c3c;
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
}
#content .product-item .product-mask-wrap .add_to_cart_button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #617c96;
}
#content .product-item .product-mask-wrap .added_to_cart {
  padding: 5px 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  z-index: 10;
  background-color: #e74c3c;
}
#content .product-item .product-mask-wrap .added_to_cart:hover {
  color: #fff;
  text-decoration: none;
  background-color: #617c96;
}
#content .product-item .product-thumb img {
  margin: 0 auto;
}
#content .product-item .product-mask {
  position: relative;
  overflow: hidden;
  display: block;
}
#content .product-item .product-mask:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  z-index: 2;
  background-color: #262f3a;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#content .product-item .product-mask span.view-product {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  color: #fff;
  opacity: 0;
  text-transform: uppercase;
  z-index: 9;
  -webkit-transform: translate(-50%, -250%);
  -moz-transform: translate(-50%, -250%);
  -ms-transform: translate(-50%, -250%);
  -o-transform: translate(-50%, -250%);
  transform: translate(-50%, -250%);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#content .product-item .product-mask span.onsale {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 65px;
  height: 65px;
  font-size: 11px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
  background-color: #617c96;
}
#content .product-item .product-mask-wrap:hover .product-mask:after {
  opacity: 1;
}
#content .product-item .product-mask-wrap:hover .add_to_cart_button {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#content .product-item .product-mask-wrap:hover span.view-product {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#content .product-item .product-meta {
  margin-top: 15px;
  text-align: center;
}
#content .product-item .product-meta .product-categories {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
#content .product-item .product-meta .product-categories:after {
  margin: 5px auto 0;
  content: "";
  width: 50px;
  height: 1px;
  display: block;
  background-color: #617c96;
}
#content .product-item .product-meta .product-categories a {
  margin: 0 5px 5px;
  color: #617c96;
}
#content .product-item .product-meta .product-categories a:hover {
  color: #e74c3c;
  text-decoration: none;
}
#content .product-item .product-meta h3 {
  margin-bottom: 0;
  font-family: "Montserrat";
  font-size: 12px;
  text-transform: uppercase;
}
#content .product-item .product-meta h3 a {
  color: #262f3a;
}
#content .product-item .product-meta h3 a:hover {
  color: #e74c3c;
  text-decoration: none;
}
#content .product-item .product-meta .star-rating {
  margin: 5px auto 0;
}
#content .product-item .product-meta .price {
  margin-top: 15px;
  display: block;
  font-family: "Montserrat";
  font-size: 22px;
  color: #617c96;
}
#content .product-item .product-meta .price del {
  font-size: 14px;
}
#content .product-item .product-meta .price ins {
  text-decoration: none;
}

.lt-ie9 #content .product-item .product-mask span.view-product {
  display: none;
}

/* 4 Product Category
-------------------------------------------------------------- */
#content .product-category {
  margin-bottom: 50px;
}
#content .product-category a {
  text-align: center;
  color: #262f3a;
}
#content .product-category a:hover {
  color: #617c96;
  text-decoration: none;
}
#content .product-category a h3 {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Montserrat";
  font-size: 12px;
  text-transform: uppercase;
}
#content .product-category a h3 .count {
  color: #8a8f97;
  background: transparent;
}

/* 5 Single Product
-------------------------------------------------------------- */
#content .product-single-image {
  position: relative;
}
#content .product-single-image img {
  margin-left: auto;
  margin-right: auto;
}
#content span.onsale {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 65px;
  height: 65px;
  font-size: 11px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
  background-color: #617c96;
}
#content .summary {
  margin-bottom: 70px;
}
#content .summary h1.product_title {
  font-family: "Montserrat";
  font-size: 24px;
  color: #262f3a;
  text-transform: uppercase;
}
#content .summary .woocommerce-product-rating {
  margin-bottom: 20px;
}
#content .summary .price {
  margin-top: 15px;
  display: block;
  font-family: "Montserrat";
  font-size: 24px;
  color: #617c96;
}
#content .summary .price del {
  font-size: 16px;
}
#content .summary .price ins {
  text-decoration: none;
}
#content .summary .product-description {
  margin: 40px 0 40px;
}
#content .summary .product-description p {
  font-size: 12px;
}
#content .summary div.quantity {
  margin-right: 20px;
}
#content .summary div.quantity input[type=number] {
  margin-left: 29px;
}
#content .summary div.quantity input.plus,
#content .summary div.quantity input.minus {
  position: absolute;
}
#content table.variations select {
  height: 40px;
}
#content table.variations label {
  margin-bottom: 0;
}
#content table.variations .reset_variations {
  margin-left: 30px;
  font-weight: 700;
  font-style: italic;
  color: #8a8f97;
}
#content .single_variation_wrap .price {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}
#content .product_meta {
  margin-top: 50px;
}
#content .product_meta .meta:first-child {
  border-top: 1px solid #ededed;
}
#content .product_meta .sku_wrapper,
#content .product_meta .posted_in,
#content .product_meta .tagged_as {
  padding: 10px 0;
  display: block;
  font-size: 11px;
  font-weight: 700;
  color: #8a8f97;
  text-transform: uppercase;
  border-bottom: 1px solid #ededed;
}
#content .product_meta a {
  color: #8a8f97;
}
#content .product_meta a:hover {
  color: #617c96;
  text-decoration: none;
}
#content .social-meta {
  margin: 30px 0 0;
  list-style: none;
  display: inline-block;
}
#content .social-meta li {
  margin-right: 4px;
  display: inline-block;
}
#content .social-meta a {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  line-height: 33px;
  border: 1px solid #b9bcc0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a8f97 !important;
}
#content .social-meta a:hover {
  color: #617c96 !important;
  text-decoration: none;
  border: 1px solid #617c96;
}
#content .thumbnails-nav {
  margin: 15px 0 70px;
}
#content .thumbnails-nav ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}
#content .thumbnails-nav ul li {
  padding: 15px 15px 0;
  width: 25%;
  float: left;
  display: inline-block;
}
#content .thumbnails-nav ul li a {
  display: block;
}
#content .woocommerce-tabs {
  margin-bottom: 50px;
}
#content .woocommerce-tabs .tabs {
  margin: 0 0 40px;
  padding: 10px 0;
  border-top: 1px solid #b9bcc0;
  border-bottom: 1px solid #b9bcc0;
}
#content .woocommerce-tabs .tabs li {
  display: inline-block;
}
#content .woocommerce-tabs .tabs li a {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  color: #8a8f97;
  text-transform: uppercase;
}
#content .woocommerce-tabs .tabs li a:hover {
  color: #262f3a;
  text-decoration: none;
}
#content .woocommerce-tabs .tabs li:after {
  content: "/";
  color: #8a8f97;
}
#content .woocommerce-tabs .tabs li:last-child:after {
  content: none;
}
#content .woocommerce-tabs .tabs li.active a {
  color: #262f3a;
}
#content .woocommerce-tabs .shop_attributes th {
  color: #617c96;
  font-weight: 400;
}
#content .woocommerce-tabs .shop_attributes p {
  margin-bottom: 0;
}
#content #reviews h2,
#content #reviews h3 {
  margin-bottom: 50px;
  padding-bottom: 10px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #617c96;
  text-transform: uppercase;
  border-bottom: 2px solid #ededed;
}
#content #reviews .comment_container {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  overflow: hidden;
}
#content #reviews .comment_container img.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
#content #reviews .comment_container .comment-text {
  margin-left: 80px;
  border-bottom: 1px solid #ededed;
}
#content #reviews .comment_container .comment-text .star-rating {
  margin-bottom: 15px;
}
#content #reviews .comment_container .comment-text .meta {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 700;
  color: #262f3a;
  text-transform: uppercase;
}
#content #reviews .comment_container .comment-text .meta strong {
  font-weight: 700;
}
#content #reviews .navigation {
  margin-bottom: 40px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
#content #reviews .navigation a {
  margin-right: 5px;
  padding: 5px 13px;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #b9bcc0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a8f97;
}
#content #reviews .navigation a:hover {
  color: #617c96;
  text-decoration: none;
  border: 1px solid #617c96;
}
#content #reviews .woocommerce-noreviews {
  font-size: 16px;
  color: #617c96;
}
#content #reviews .woocommerce-verification-required {
  padding: 20px;
  font-size: 14px;
  font-style: italic;
  color: #8a8f97;
  border: 3px solid #617c96;
}
#content #reviews #respond {
  padding: 40px 40px 20px;
  border: 3px solid #617c96;
}
#content #reviews #respond h3 {
  margin-bottom: 30px;
}
#content #reviews #respond p.stars {
  *zoom: 1;
}
#content #reviews #respond p.stars:before,
#content #reviews #respond p.stars:after {
  content: " ";
  display: table;
}
#content #reviews #respond p.stars:after {
  clear: both;
}
#content #reviews #respond p.stars span {
  width: 80px;
  height: 15px;
  position: relative;
  float: left;
  background: url(../images/star.png) repeat-x left 0;
}
#content #reviews #respond p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 15px;
  overflow: hidden;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#content #reviews #respond p.stars span a:hover,
#content #reviews #respond p.stars span a:focus {
  background: url(../images/star.png) repeat-x left -15px;
}
#content #reviews #respond p.stars span a.active {
  background: url(../images/star.png) repeat-x left -30px;
}
#content #reviews #respond p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
}
#content #reviews #respond p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
#content #reviews #respond p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
#content #reviews #respond p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
#content #reviews #respond p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}
#content #reviews #respond input[type="submit"] {
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #e74c3c;
}
#content #reviews #respond input[type="submit"]:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #617c96;
}

/* 6 Cart
-------------------------------------------------------------- */
#content .table_wrap {
  margin-bottom: 50px;
  overflow-x: scroll;
}
#content table.shop_table.cart {
  width: 940px;
}
#content table.shop_table.cart thead tr {
  border-bottom: 3px solid #1a1d1f;
}
#content table.shop_table.cart thead th.product-name {
  padding-left: 30px;
}
#content table.shop_table.cart thead th.product-price {
  padding: 0 30px;
  text-align: center;
}
#content table.shop_table.cart thead th.product-quantity {
  padding: 0 30px;
  text-align: center;
}
#content table.shop_table.cart thead th.product-subtotal {
  padding: 0 30px;
  text-align: center;
}
#content table.shop_table.cart tbody tr {
  border-bottom: 1px dotted #d7d7d7;
}
#content table.shop_table.cart tbody td.product-remove {
  width: 70px;
  font-size: 16px;
  text-align: center;
}
#content table.shop_table.cart tbody td.product-remove a {
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 18px;
  color: #b9bcc0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #b9bcc0;
}
#content table.shop_table.cart tbody td.product-remove a:hover {
  color: #e74c3c;
  text-decoration: none;
}
#content table.shop_table.cart tbody td.product-thumbnail {
  width: 110px;
  text-align: center;
}
#content table.shop_table.cart tbody td.product-thumbnail img {
  margin: 0 auto;
  width: 75px;
  height: 97px;
}
#content table.shop_table.cart tbody td.product-name {
  padding-left: 30px;
}
#content table.shop_table.cart tbody td.product-name {
  font-weight: 700;
}
#content table.shop_table.cart tbody td.product-name a {
  color: #353d4d;
}
#content table.shop_table.cart tbody td.product-name a:hover {
  color: #617c96;
  text-decoration: none;
}
#content table.shop_table.cart tbody td.product-price {
  padding: 0 30px;
  text-align: center;
}
#content table.shop_table.cart tbody td.product-price {
  font-weight: 700;
}
#content table.shop_table.cart tbody td.product-quantity {
  padding: 0 30px;
  text-align: center;
}
#content table.shop_table.cart tbody th.product-subtotal,
#content table.shop_table.cart tbody td.product-subtotal {
  padding: 0 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #617c96;
}
#content table.shop_table.cart .coupon {
  float: left;
}
#content table.shop_table.cart .coupon label {
  display: none;
}
#content table.shop_table.cart .coupon .input-text {
  margin-right: 10px;
  width: 200px;
}
#content table.shop_table.cart .buttons {
  float: right;
}
#content table.shop_table.cart .buttons .light-btn {
  margin-right: 10px;
}
#content table.shop_table.cart tr.last {
  border-top: 3px solid #ededed;
  border-bottom: 3px solid #ededed;
  overflow: hidden;
}
#content table.shop_table.cart tr.last td {
  padding: 20px 30px;
}
#content .cart-totals-wrap {
  margin-bottom: 50px;
  border: 3px solid #617c96;
  overflow-x: scroll;
}
#content .cart_totals {
  padding: 20px;
  width: 340px;
}
#content .cart_totals th {
  color: #8a8f97;
}
#content .cart_totals ul {
  margin: 0;
  list-style-type: none;
}
#content .cart_totals .order-total {
  font-size: 16px;
  color: #e74c3c;
  border-top: 3px solid #617c96;
  border-bottom: 3px solid #617c96;
}
#content .cart_totals .order-total th {
  color: #617c96;
}
#content .cart_totals strong .amount {
  color: #617c96;
}
#content .cart_totals h2 {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #617c96;
}
#content .cart_totals tr {
  border-width: 2px;
}
#content .shipping_calculator .button {
  width: 100%;
}
#content .cart-empty {
  font-size: 20px;
  text-align: center;
}
#content .return-to-shop {
  margin-top: 30px;
  text-align: center;
}

/* 7 Checkout
-------------------------------------------------------------- */
#content form.checkout .woo-header label,
#content form.checkout .woo-header h3 {
  margin-bottom: 0;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  color: #262f3a;
  text-transform: uppercase;
}
#content form.checkout .woo-header label {
  margin-right: 10px;
  display: inline-block;
}
#content .checkout-wrap #customer_details {
  margin-top: 30px;
}
#content .checkout-wrap form.login {
  padding: 30px 0;
}
#content .checkout-wrap form.login p {
  font-size: 12px;
}
#content .checkout-wrap form.checkout_coupon {
  padding-top: 30px;
}
#content .checkout-wrap form.checkout_coupon .input-text,
#content .checkout-wrap form.checkout_coupon .button {
  width: 100%;
}
#content .checkout-wrap .checkout_billing_form {
  margin-bottom: 50px;
}
#content .checkout-wrap .create-account {
  padding: 30px 0;
}
#content .checkout-wrap .create-account p {
  font-size: 12px;
}
#content .checkout-wrap .shipping_address {
  padding: 30px 0 0;
}
#content .checkout-wrap p.notes {
  margin-top: 50px;
}
#content .checkout-wrap #order-review-wrap {
  margin-top: 50px;
  overflow-x: scroll;
  border: 3px solid #617c96;
}
#content .checkout-wrap #order-review-wrap th {
  color: #8a8f97;
}
#content .checkout-wrap #order-review-wrap tr {
  border-width: 2px;
}
#content .checkout-wrap #order-review-wrap th.product-total,
#content .checkout-wrap #order-review-wrap td {
  text-align: right;
}
#content .checkout-wrap #order-review-wrap tbody .product-name {
  font-weight: 700;
  color: #617c96;
  text-align: left;
}
#content .checkout-wrap #order-review-wrap tfoot .cart-subtotal .amount {
  font-weight: 700;
  color: #617c96;
}
#content .checkout-wrap #order-review-wrap .order-total {
  font-size: 16px;
  color: #617c96;
  border-top: 3px solid #617c96;
  border-bottom: 3px solid #617c96;
}
#content .checkout-wrap #order-review-wrap .order-total th {
  color: #617c96;
}
#content .checkout-wrap #order-review-wrap ul {
  margin: 0;
  list-style-type: none;
}
#content .checkout-wrap #order-review-wrap #place_order {
  width: 100%;
}
#content .checkout-wrap #order-review-inner {
  padding: 20px;
  width: 340px;
}
#content .checkout-wrap h3#order_review_heading {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #617c96;
}
#content .checkout-wrap #payment {
  margin-top: 40px;
}
#content .checkout-wrap #payment ul {
  margin-left: 0;
  margin-bottom: 40px;
  list-style-type: none;
}
#content .checkout-wrap #payment li {
  margin-bottom: 15px;
}
#content .checkout-wrap #payment input[type="radio"],
#content .checkout-wrap #payment label,
#content .checkout-wrap #payment label img {
  display: inline;
}
#content .checkout-wrap #payment input[type="radio"] {
  margin-right: 10px;
}
#content .checkout-wrap #payment label img {
  margin-left: 10px;
}
#content .checkout-wrap #payment p {
  padding: 10px 20px;
  margin-top: 20px;
  position: relative;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e5e5e5;
}
#content .checkout-wrap #payment p:before {
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 20px;
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #e5e5e5;
}
#content .thankyou_text {
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 36px;
}
#content ul.order_details {
  margin: 0 0 40px 0;
  padding: 20px 0;
  display: inline-block;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}
#content ul.order_details li {
  margin-right: 40px;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}
#content ul.order_details li:last-child {
  margin-right: 0;
}
#content ul.order_details li strong {
  display: block;
  font-size: 13px;
  text-transform: none;
}
#content .order_details_text {
  margin-bottom: 50px;
}
#content .order_details_text h2 {
  margin-top: 40px;
  text-transform: uppercase;
}
#content .order_details_text p {
  font-size: 16px;
  line-height: 24px;
}
#content .bacs_details h3 {
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
}

/* 8 My Account
-------------------------------------------------------------- */
.woocommerce-account #content #customer_login {
  margin-bottom: 50px;
}
.woocommerce-account #content .create-account-message {
  font-size: 12px;
}
.woocommerce-account #content .myaccount_user,
.woocommerce-account #content .order-info {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}
.woocommerce-account #content .order-info {
  text-align: center;
}
.woocommerce-account #content .order-info mark {
  color: #617c96;
  background-color: transparent;
}
.woocommerce-account #content .myaccount_address {
  margin-bottom: 40px;
}
.woocommerce-account #content .woo-header h3 {
  margin-right: 10px;
}
.woocommerce-account #content table.my_account_orders {
  width: 940px;
}
.woocommerce-account #content table.my_account_orders thead tr {
  border-bottom: 3px solid #1a1d1f;
}
.woocommerce-account #content table.my_account_orders tbody .order-number {
  font-weight: 700;
}
.woocommerce-account #content table.my_account_orders tbody .order-status {
  font-style: italic;
}
.woocommerce-account #content table.my_account_orders tbody .order-total .amount {
  font-weight: 700;
  color: #617c96;
}
.woocommerce-account #content table.my_account_orders tbody .order-actions {
  text-align: right;
}
.woocommerce-account #content table.my_account_orders tbody .view {
  padding: 3px 20px;
  font-size: 11px;
  display: inline-block;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #617c96;
}
.woocommerce-account #content table.my_account_orders tbody .view:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e74c3c;
}
.woocommerce-account #content .table_wrap {
  margin-bottom: 40px;
}
.woocommerce-account .edit-address .button,
.woocommerce-account .edit-account .button {
  margin-top: 30px;
}
.woocommerce-account .addresses .address {
  margin-bottom: 50px;
}

#content .order-info + h2 {
  padding-bottom: 5px;
  display: inline-block;
  font-size: 13px;
  color: #262f3a;
  text-transform: uppercase;
  border-bottom: 2px solid #1a1d1f;
}
#content ol.notes {
  margin: 0 0 40px;
  list-style-type: none;
}
#content ol.notes p.meta {
  margin-bottom: 5px;
  font-size: 11px;
  font-style: italic;
  color: #617c96;
}
#content ol.notes .description {
  font-size: 12px;
}

#content p.order-again {
  margin-bottom: 50px;
  font-size: 22px;
  text-align: center;
}
#content p.order-again a {
  padding: 11px 32px;
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #e74c3c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #e74c3c;
  background-color: transparent;
}
#content p.order-again a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e74c3c;
}

/* 9 Track Order
-------------------------------------------------------------- */
#content form.track_order .button {
  margin-top: 20px;
  width: 100%;
}
#content p.track_text,
#content .order-info p {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* 10 Sidebar
-------------------------------------------------------------- */
/* 10.1 Product Categories Widget
-------------------------------- */
#sidebar .widget_product_categories li {
  padding: 0;
  border-bottom: none;
}
#sidebar .widget_product_categories a {
  padding: 8px 0;
  display: inline-block;
  text-transform: uppercase;
}
#sidebar .widget_product_categories ul li:first-child a {
  padding-top: 0;
}
#sidebar .widget_product_categories ul.children {
  margin-left: 20px;
}
#sidebar .widget_product_categories ul.children li a {
  padding-top: 8px;
}

/* 10.2 Product Widget
-------------------------------- */
#sidebar .widget .product_list_widget li {
  overflow: hidden;
}
#sidebar .widget .product_list_widget li a {
  padding-top: 10px;
  display: block;
  font-family: "Montserrat";
  font-size: 11px;
  color: #262f3a;
  text-transform: uppercase;
}
#sidebar .widget .product_list_widget li a:hover {
  color: #617c96;
}
#sidebar .widget .product_list_widget li span {
  margin-top: 10px;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 30px;
  color: #617c96;
  text-transform: uppercase;
}
#sidebar .widget .product_list_widget li del span {
  font-size: 12px;
}
#sidebar .widget .product_list_widget li img {
  margin-top: -10px;
  margin-right: 15px;
  width: 65px;
  float: left;
}
#sidebar .widget .product_list_widget li .star-rating {
  margin-top: 5px;
  margin-bottom: 5px;
}
#sidebar .widget .product_list_widget li .star-rating span {
  margin-top: 0;
  font-family: 'star';
  font-size: 14px;
  line-height: 14px;
  color: #d7d7d7;
}
#sidebar .widget .product_list_widget li .reviewer {
  font-size: 12px;
  text-transform: none;
}

/* 10.3 Product Tag Widget
-------------------------------- */
#sidebar .widget_product_tag_cloud a {
  margin: 0 5px 5px 0;
  padding: 5px 13px;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #b9bcc0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a8f97 !important;
}
#sidebar .widget_product_tag_cloud a:hover {
  color: #617c96 !important;
  text-decoration: none;
  border: 1px solid #617c96;
}

/* 10.4 Layered Nav Widget
-------------------------------- */
#sidebar .widget_layered_nav .count {
  font-size: 100%;
  font-weight: 700;
  color: #8a8f97;
  float: right;
}

/* 10.5 Cart Widget
-------------------------------- */
#sidebar .widget .widget_shopping_cart_content li span {
  font-size: 13px;
  color: #8a8f97;
}
#sidebar .widget .widget_shopping_cart_content li span .amount {
  color: #617c96;
}
#sidebar .widget .widget_shopping_cart_content p.total {
  margin-top: 20px;
  padding: 10px 0;
  color: #617c96;
  text-transform: uppercase;
  border-top: 2px solid #617c96;
  border-bottom: 2px solid #617c96;
}
#sidebar .widget .widget_shopping_cart_content p.total .amount {
  float: right;
  font-weight: 700;
}
#sidebar .widget .widget_shopping_cart_content li.empty {
  font-size: 16px;
  border-bottom: none;
}
#sidebar .widget .widget_shopping_cart_content .wc-forward {
  text-align: center;
  padding: 11px 32px;
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #617c96;
  display: block;
}
#sidebar .widget .widget_shopping_cart_content .wc-forward:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #e74c3c;
}
#sidebar .widget .widget_shopping_cart_content .wc-forward.checkout {
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #e74c3c;
  display: block;
}
#sidebar .widget .widget_shopping_cart_content .wc-forward.checkout:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #617c96;
}
#sidebar .widget .widget_shopping_cart_content img {
  opacity: 1 !important;
}

/* 10.6 Price Filter Widget
-------------------------------- */
#sidebar .price_slider_wrapper:after,
#footer .price_slider_wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1em;
}

.woocommerce .widget_price_filter .price_slider_amount {
  margin-top: 30px;
  font-family: "Montserrat";
  text-align: right;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
  float: left;
  padding: 5px 17px;
  font-size: 10px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #617c96;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #e74c3c;
}

.woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #6c6c6c;
  cursor: pointer;
  background: #b5b5b5;
  outline: 0;
  top: -3px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #617c96;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #ebebeb;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 10px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}

/* 11 Footer
-------------------------------------------------------------- */
/* 11.1 Product Categories Widget
-------------------------------- */
#footer .widget_product_categories li {
  padding: 0;
  border-bottom: none;
}
#footer .widget_product_categories a {
  padding: 8px 0;
  display: inline-block;
}
#footer .widget_product_categories ul li:first-child a {
  padding-top: 0;
}
#footer .widget_product_categories ul.children {
  margin-left: 20px;
}
#footer .widget_product_categories ul.children li a {
  padding-top: 8px;
}
#footer.dark .widget_product_categories li {
  border-bottom: none;
}

/* 11.2 Product Widget
-------------------------------- */
#footer .widget .product_list_widget li {
  overflow: hidden;
}
#footer .widget .product_list_widget li a {
  padding-top: 10px;
  display: block;
  font-family: "Montserrat";
  font-size: 11px;
  color: #262f3a;
  text-transform: uppercase;
}
#footer .widget .product_list_widget li a:hover {
  color: #617c96;
}
#footer .widget .product_list_widget li span {
  margin-top: 10px;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 30px;
  color: #617c96;
  text-transform: uppercase;
}
#footer .widget .product_list_widget li del span {
  font-size: 12px;
}
#footer .widget .product_list_widget li img {
  margin-top: -10px;
  margin-right: 15px;
  width: 65px;
  float: left;
}
#footer .widget .product_list_widget li .star-rating {
  margin-top: 5px;
  margin-bottom: 5px;
}
#footer .widget .product_list_widget li .star-rating span {
  margin-top: 0;
  font-family: 'star';
  font-size: 14px;
  line-height: 14px;
  color: #d7d7d7;
}
#footer .widget .product_list_widget li .reviewer {
  font-size: 12px;
  text-transform: none;
}
#footer.dark .widget .product_list_widget li a {
  color: #8a8f97;
}
#footer.dark .widget .product_list_widget li a:hover {
  color: #ededed;
}
#footer.dark .widget .product_list_widget li span {
  color: #ededed;
}

/* 11.3 Product Tag Widget
-------------------------------- */
#footer .widget_product_tag_cloud a {
  margin: 0 5px 5px 0;
  padding: 5px 13px;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #b9bcc0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a8f97 !important;
}
#footer .widget_product_tag_cloud a:hover {
  color: #617c96 !important;
  text-decoration: none;
  border: 1px solid #617c96;
}
#footer.dark .widget_product_tag_cloud a {
  margin: 0 5px 5px 0;
  padding: 5px 13px;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #2f3034;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #8a8f97;
}
#footer.dark .widget_product_tag_cloud a:hover {
  color: white !important;
  text-decoration: none;
  border: 1px solid #595c61 !important;
}

/* 11.4 Layered Nav Widget
-------------------------------- */
#footer .widget_layered_nav .count {
  font-size: 100%;
  font-weight: 700;
  color: #8a8f97;
  float: right;
}
#footer.dark .widget_layered_nav .count {
  color: #ededed;
}

/* 11.5 Cart Widget
-------------------------------- */
#footer .widget .widget_shopping_cart_content li span {
  font-size: 13px;
  color: #8a8f97;
}
#footer .widget .widget_shopping_cart_content li span .amount {
  color: #617c96;
}
#footer .widget .widget_shopping_cart_content p.total {
  margin-top: 20px;
  padding: 10px 0;
  color: #617c96;
  text-transform: uppercase;
  border-top: 2px solid #617c96;
  border-bottom: 2px solid #617c96;
}
#footer .widget .widget_shopping_cart_content p.total .amount {
  float: right;
  font-weight: 700;
}
#footer .widget .widget_shopping_cart_content li.empty {
  font-size: 16px;
  border-bottom: none;
}
#footer .widget .widget_shopping_cart_content .wc-forward {
  text-align: center;
  padding: 11px 32px;
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #617c96;
  display: block;
}
#footer .widget .widget_shopping_cart_content .wc-forward:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #e74c3c;
}
#footer .widget .widget_shopping_cart_content .wc-forward.checkout {
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #e74c3c;
  display: block;
}
#footer .widget .widget_shopping_cart_content .wc-forward.checkout:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: #617c96;
}
#footer .widget .widget_shopping_cart_content img {
  opacity: 1 !important;
}
#footer.dark .widget .widget_shopping_cart_content li span {
  color: #55575b;
}
#footer.dark .widget .widget_shopping_cart_content li span .amount {
  color: #ededed;
}
#footer.dark .widget .widget_shopping_cart_content p.total {
  color: #ededed;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

/* 12 Media Queries
-------------------------------------------------------------- */
@media (min-width: 400px) {
  #content .checkout-wrap #order-review-wrap,
  #content .order_details_wrap,
  #content .cart-totals-wrap {
    overflow-x: auto;
  }

  #content .order_details_inner,
  #content .checkout-wrap #order-review-inner,
  #content .cart_totals {
    padding: 40px;
    width: 100%;
  }

  #content .cart_totals {
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  #top-header .header-cart {
    margin-left: 15px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
  }
  #top-header .header-cart .fa {
    top: 2px;
    right: 0;
    position: absolute;
    display: inline-block;
    font-size: 16px;
  }

  .archive.post-type-archive-product .sidebar-left #content,
  .archive.post-type-archive-product .sidebar-no #content,
  .archive.tax-product_cat .sidebar-left #content,
  .archive.tax-product_cat .sidebar-no #content,
  .archive.tax-product_tag .sidebar-left #content,
  .archive.tax-product_tag .sidebar-no #content {
    padding-right: 0;
    border-right: none;
  }

  .archive.post-type-archive-product .sidebar-left #sidebar:before,
  .archive.post-type-archive-product .sidebar-no #sidebar:before,
  .archive.tax-product_cat .sidebar-left #sidebar:before,
  .archive.tax-product_cat .sidebar-no #sidebar:before,
  .archive.tax-product_tag .sidebar-left #sidebar:before,
  .archive.tax-product_tag .sidebar-no #sidebar:before {
    content: none;
  }

  .product-category-cover {
    margin-top: 75px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b9bcc0;
  }

  #respond .comment-form-author,
  #respond .comment-form-email {
    margin-right: -4px;
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #respond .comment-form-author input[type="text"],
  #respond .comment-form-author input[type="email"],
  #respond .comment-form-email input[type="text"],
  #respond .comment-form-email input[type="email"] {
    width: 100%;
  }
  #respond .comment-form-author {
    padding-right: 15px;
  }
  #respond .comment-form-email {
    padding-left: 15px;
  }

  #content form.login .input-text,
  #content form.login input[type="text"],
  #content form.login input[type="password"],
  #content form.login input[type="datetime"],
  #content form.login input[type="datetime-local"],
  #content form.login input[type="date"],
  #content form.login input[type="month"],
  #content form.login input[type="time"],
  #content form.login input[type="week"],
  #content form.login input[type="number"],
  #content form.login input[type="email"],
  #content form.login input[type="url"],
  #content form.login input[type="search"],
  #content form.login input[type="tel"],
  #content form.login input[type="color"],
  #content form.login select,
  #content form.register .input-text,
  #content form.register input[type="text"],
  #content form.register input[type="password"],
  #content form.register input[type="datetime"],
  #content form.register input[type="datetime-local"],
  #content form.register input[type="date"],
  #content form.register input[type="month"],
  #content form.register input[type="time"],
  #content form.register input[type="week"],
  #content form.register input[type="number"],
  #content form.register input[type="email"],
  #content form.register input[type="url"],
  #content form.register input[type="search"],
  #content form.register input[type="tel"],
  #content form.register input[type="color"],
  #content form.register select,
  #content form.track_order .input-text,
  #content form.track_order input[type="text"],
  #content form.track_order input[type="password"],
  #content form.track_order input[type="datetime"],
  #content form.track_order input[type="datetime-local"],
  #content form.track_order input[type="date"],
  #content form.track_order input[type="month"],
  #content form.track_order input[type="time"],
  #content form.track_order input[type="week"],
  #content form.track_order input[type="number"],
  #content form.track_order input[type="email"],
  #content form.track_order input[type="url"],
  #content form.track_order input[type="search"],
  #content form.track_order input[type="tel"],
  #content form.track_order input[type="color"],
  #content form.track_order select {
    width: 100%;
  }
  #content .type-product .upsells,
  #content .type-product .related {
    margin-bottom: 20px;
  }
  #content .table_wrap {
    margin-bottom: 70px;
    overflow-x: hidden;
  }
  #content table.shop_table.cart,
  #content table.shop_table.my_account_orders {
    width: 100%;
  }
  #content .cart-collaterals .cross-sells {
    margin-bottom: 20px;
  }
  #content .cart_totals {
    margin-bottom: 0;
  }
  #content #order-process {
    margin-bottom: 100px;
  }
  #content #order-process li .sep {
    display: inline-block;
  }
  #content #order-process li.disabled {
    display: inline-block;
  }

  .shipping_calculator .input-text,
  .shipping_calculator input[type="text"],
  .shipping_calculator input[type="password"],
  .shipping_calculator input[type="datetime"],
  .shipping_calculator input[type="datetime-local"],
  .shipping_calculator input[type="date"],
  .shipping_calculator input[type="month"],
  .shipping_calculator input[type="time"],
  .shipping_calculator input[type="week"],
  .shipping_calculator input[type="number"],
  .shipping_calculator input[type="email"],
  .shipping_calculator input[type="url"],
  .shipping_calculator input[type="search"],
  .shipping_calculator input[type="tel"],
  .shipping_calculator input[type="color"],
  .shipping_calculator select {
    width: 100%;
  }

  .woocommerce-checkout .checkout-wrap {
    position: relative;
  }
  .woocommerce-checkout .right {
    position: absolute;
    top: 0;
    right: -15px;
  }
  .woocommerce-checkout #customer_details .input-text,
  .woocommerce-checkout #customer_details input[type="text"],
  .woocommerce-checkout #customer_details input[type="password"],
  .woocommerce-checkout #customer_details input[type="datetime"],
  .woocommerce-checkout #customer_details input[type="datetime-local"],
  .woocommerce-checkout #customer_details input[type="date"],
  .woocommerce-checkout #customer_details input[type="month"],
  .woocommerce-checkout #customer_details input[type="time"],
  .woocommerce-checkout #customer_details input[type="week"],
  .woocommerce-checkout #customer_details input[type="number"],
  .woocommerce-checkout #customer_details input[type="email"],
  .woocommerce-checkout #customer_details input[type="url"],
  .woocommerce-checkout #customer_details input[type="search"],
  .woocommerce-checkout #customer_details input[type="tel"],
  .woocommerce-checkout #customer_details input[type="color"],
  .woocommerce-checkout #customer_details select {
    width: 100%;
  }
  .woocommerce-checkout #customer_details .button {
    width: 100%;
  }
  .woocommerce-checkout #content #order-review-wrap {
    margin-top: 0;
  }

  .woocommerce-account #content #customer_login {
    margin-bottom: 0;
  }
  .woocommerce-account .edit-address .input-text,
  .woocommerce-account .edit-address input[type="text"],
  .woocommerce-account .edit-address input[type="password"],
  .woocommerce-account .edit-address input[type="datetime"],
  .woocommerce-account .edit-address input[type="datetime-local"],
  .woocommerce-account .edit-address input[type="date"],
  .woocommerce-account .edit-address input[type="month"],
  .woocommerce-account .edit-address input[type="time"],
  .woocommerce-account .edit-address input[type="week"],
  .woocommerce-account .edit-address input[type="number"],
  .woocommerce-account .edit-address input[type="email"],
  .woocommerce-account .edit-address input[type="url"],
  .woocommerce-account .edit-address input[type="search"],
  .woocommerce-account .edit-address input[type="tel"],
  .woocommerce-account .edit-address input[type="color"],
  .woocommerce-account .edit-address select,
  .woocommerce-account .edit-account .input-text,
  .woocommerce-account .edit-account input[type="text"],
  .woocommerce-account .edit-account input[type="password"],
  .woocommerce-account .edit-account input[type="datetime"],
  .woocommerce-account .edit-account input[type="datetime-local"],
  .woocommerce-account .edit-account input[type="date"],
  .woocommerce-account .edit-account input[type="month"],
  .woocommerce-account .edit-account input[type="time"],
  .woocommerce-account .edit-account input[type="week"],
  .woocommerce-account .edit-account input[type="number"],
  .woocommerce-account .edit-account input[type="email"],
  .woocommerce-account .edit-account input[type="url"],
  .woocommerce-account .edit-account input[type="search"],
  .woocommerce-account .edit-account input[type="tel"],
  .woocommerce-account .edit-account input[type="color"],
  .woocommerce-account .edit-account select {
    width: 100%;
  }

  #content form.track_order {
    margin: 0 auto;
    width: 700px;
  }
  #content form.track_order p {
    text-align: center;
  }
  #content form.track_order .form-row {
    margin: 0 auto 20px;
    width: 500px;
  }

  form.checkout .woocommerce-error {
    width: 536px;
  }

  #content .shortcode-row .row:last-child .product-item,
  #content .shortcode-row .row:last-child .product-category {
    margin-bottom: 0;
  }

  #content .shortcode-row-single .product-item {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  form.checkout .woocommerce-error {
    width: 653px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  p.stars span {
    background-image: url(../images/star@2x.png);
    background-size: 16px 45px;
  }

  p.stars span a:hover,
  p.stars span a:focus {
    background-image: url(../images/star@2x.png);
    background-size: 16px 45px;
  }

  p.stars span a.active {
    background-image: url(../images/star@2x.png);
    background-size: 16px 45px;
  }
}
