#content .checkout-wrap #order-review-wrap,
#content .order_details_wrap,
#content .cart-totals-wrap {
  overflow-x: auto;
}

#content .order_details_inner,
#content .checkout-wrap #order-review-inner,
#content .cart_totals {
  padding: 40px;
  width: 100%;
}

#content .cart_totals {
  padding-bottom: 20px;
}

#top-header .header-cart {
  margin-left: 15px;
  padding-right: 30px;
  position: relative;
  display: inline-block;
}
#top-header .header-cart .fa {
  top: 2px;
  right: 0;
  position: absolute;
  display: inline-block;
  font-size: 16px;
}

.archive.post-type-archive-product .sidebar-left #content,
.archive.post-type-archive-product .sidebar-no #content,
.archive.tax-product_cat .sidebar-left #content,
.archive.tax-product_cat .sidebar-no #content,
.archive.tax-product_tag .sidebar-left #content,
.archive.tax-product_tag .sidebar-no #content {
  padding-right: 0;
  border-right: none;
}

.archive.post-type-archive-product .sidebar-left #sidebar:before,
.archive.post-type-archive-product .sidebar-no #sidebar:before,
.archive.tax-product_cat .sidebar-left #sidebar:before,
.archive.tax-product_cat .sidebar-no #sidebar:before,
.archive.tax-product_tag .sidebar-left #sidebar:before,
.archive.tax-product_tag .sidebar-no #sidebar:before {
  content: none;
}

.product-category-cover {
  margin-top: 75px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b9bcc0;
}

#respond .comment-form-author,
#respond .comment-form-email {
  margin-right: -4px;
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#respond .comment-form-author input[type="text"],
#respond .comment-form-author input[type="email"],
#respond .comment-form-email input[type="text"],
#respond .comment-form-email input[type="email"] {
  width: 100%;
}
#respond .comment-form-author {
  padding-right: 15px;
}
#respond .comment-form-email {
  padding-left: 15px;
}

#content form.login .input-text,
#content form.login input[type="text"],
#content form.login input[type="password"],
#content form.login input[type="datetime"],
#content form.login input[type="datetime-local"],
#content form.login input[type="date"],
#content form.login input[type="month"],
#content form.login input[type="time"],
#content form.login input[type="week"],
#content form.login input[type="number"],
#content form.login input[type="email"],
#content form.login input[type="url"],
#content form.login input[type="search"],
#content form.login input[type="tel"],
#content form.login input[type="color"],
#content form.login select,
#content form.register .input-text,
#content form.register input[type="text"],
#content form.register input[type="password"],
#content form.register input[type="datetime"],
#content form.register input[type="datetime-local"],
#content form.register input[type="date"],
#content form.register input[type="month"],
#content form.register input[type="time"],
#content form.register input[type="week"],
#content form.register input[type="number"],
#content form.register input[type="email"],
#content form.register input[type="url"],
#content form.register input[type="search"],
#content form.register input[type="tel"],
#content form.register input[type="color"],
#content form.register select,
#content form.track_order .input-text,
#content form.track_order input[type="text"],
#content form.track_order input[type="password"],
#content form.track_order input[type="datetime"],
#content form.track_order input[type="datetime-local"],
#content form.track_order input[type="date"],
#content form.track_order input[type="month"],
#content form.track_order input[type="time"],
#content form.track_order input[type="week"],
#content form.track_order input[type="number"],
#content form.track_order input[type="email"],
#content form.track_order input[type="url"],
#content form.track_order input[type="search"],
#content form.track_order input[type="tel"],
#content form.track_order input[type="color"],
#content form.track_order select {
  width: 100%;
}
#content .type-product .upsells,
#content .type-product .related {
  margin-bottom: 20px;
}
#content .table_wrap {
  margin-bottom: 70px;
  overflow-x: hidden;
}
#content table.shop_table.cart,
#content table.shop_table.my_account_orders {
  width: 100%;
}
#content .cart-collaterals .cross-sells {
  margin-bottom: 20px;
}
#content .cart_totals {
  margin-bottom: 0;
}
#content #order-process {
  margin-bottom: 100px;
}
#content #order-process li .sep {
  display: inline-block;
}
#content #order-process li.disabled {
  display: inline-block;
}

.shipping_calculator .input-text,
.shipping_calculator input[type="text"],
.shipping_calculator input[type="password"],
.shipping_calculator input[type="datetime"],
.shipping_calculator input[type="datetime-local"],
.shipping_calculator input[type="date"],
.shipping_calculator input[type="month"],
.shipping_calculator input[type="time"],
.shipping_calculator input[type="week"],
.shipping_calculator input[type="number"],
.shipping_calculator input[type="email"],
.shipping_calculator input[type="url"],
.shipping_calculator input[type="search"],
.shipping_calculator input[type="tel"],
.shipping_calculator input[type="color"],
.shipping_calculator select {
  width: 100%;
}

.woocommerce-checkout .checkout-wrap {
  position: relative;
}
.woocommerce-checkout .right {
  position: absolute;
  top: 0;
  right: -15px;
}
.woocommerce-checkout #customer_details .input-text,
.woocommerce-checkout #customer_details input[type="text"],
.woocommerce-checkout #customer_details input[type="password"],
.woocommerce-checkout #customer_details input[type="datetime"],
.woocommerce-checkout #customer_details input[type="datetime-local"],
.woocommerce-checkout #customer_details input[type="date"],
.woocommerce-checkout #customer_details input[type="month"],
.woocommerce-checkout #customer_details input[type="time"],
.woocommerce-checkout #customer_details input[type="week"],
.woocommerce-checkout #customer_details input[type="number"],
.woocommerce-checkout #customer_details input[type="email"],
.woocommerce-checkout #customer_details input[type="url"],
.woocommerce-checkout #customer_details input[type="search"],
.woocommerce-checkout #customer_details input[type="tel"],
.woocommerce-checkout #customer_details input[type="color"],
.woocommerce-checkout #customer_details select {
  width: 100%;
}
.woocommerce-checkout #customer_details .button {
  width: 100%;
}
.woocommerce-checkout #content #order-review-wrap {
  margin-top: 0;
}

.woocommerce-account #content #customer_login {
  margin-bottom: 0;
}
.woocommerce-account .edit-address .input-text,
.woocommerce-account .edit-address input[type="text"],
.woocommerce-account .edit-address input[type="password"],
.woocommerce-account .edit-address input[type="datetime"],
.woocommerce-account .edit-address input[type="datetime-local"],
.woocommerce-account .edit-address input[type="date"],
.woocommerce-account .edit-address input[type="month"],
.woocommerce-account .edit-address input[type="time"],
.woocommerce-account .edit-address input[type="week"],
.woocommerce-account .edit-address input[type="number"],
.woocommerce-account .edit-address input[type="email"],
.woocommerce-account .edit-address input[type="url"],
.woocommerce-account .edit-address input[type="search"],
.woocommerce-account .edit-address input[type="tel"],
.woocommerce-account .edit-address input[type="color"],
.woocommerce-account .edit-address select,
.woocommerce-account .edit-account .input-text,
.woocommerce-account .edit-account input[type="text"],
.woocommerce-account .edit-account input[type="password"],
.woocommerce-account .edit-account input[type="datetime"],
.woocommerce-account .edit-account input[type="datetime-local"],
.woocommerce-account .edit-account input[type="date"],
.woocommerce-account .edit-account input[type="month"],
.woocommerce-account .edit-account input[type="time"],
.woocommerce-account .edit-account input[type="week"],
.woocommerce-account .edit-account input[type="number"],
.woocommerce-account .edit-account input[type="email"],
.woocommerce-account .edit-account input[type="url"],
.woocommerce-account .edit-account input[type="search"],
.woocommerce-account .edit-account input[type="tel"],
.woocommerce-account .edit-account input[type="color"],
.woocommerce-account .edit-account select {
  width: 100%;
}

#content form.track_order {
  margin: 0 auto;
  width: 700px;
}
#content form.track_order p {
  text-align: center;
}
#content form.track_order .form-row {
  margin: 0 auto 20px;
  width: 500px;
}

form.checkout .woocommerce-error {
  width: 653px;
}

#content .shortcode-row .row:last-child .product-item,
#content .shortcode-row .row:last-child .product-category {
  margin-bottom: 0;
}

#content .shortcode-row-single .product-item {
  margin-bottom: 0;
}
