/* Do not delete this line */

/* ------------------------------------------
* BACKUP THIS FILE WHEN YOU UPDATE THE THEME!
------------------------------------------ */



/* Basic Styles
-------------------------------------------------------------- */

/* Add basic rules here */





/* Min width 992px
-------------------------------------------------------------- */

@media (min-width: 992px) {

	/* Add rules here */

}





/* Min width 1200px
-------------------------------------------------------------- */

@media (min-width: 1200px) {

	/* Add rules here */

}





/* Retina styles
-------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

	/* Add rules here */

}